.header{
    width: 100%;
    aspect-ratio: 1672 / 941;
    margin: 30px auto;
    background: url('/background_header.jpeg') no-repeat center;
    background-size: contain;
    background-position: center;
    position: relative;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}


.header-contents a{
    border: none;
    color: rgb(102, 76, 49);
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
    cursor: pointer;
}

@media(max-width:1050px) {
    .header-contents{
        max-width: 45%;
    }
    
}

@media(max-width:750px) {
    .header-contents{
        max-width: 65%;
    }
    .header-contents a{
        padding: 2vw 4vw;
    }
}